/.vscode/
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
local.tf
local.ini
/disk.img
/disk.img-*
/.vagrant/
/app-cred-*-openrc.sh
/ipxe/
ssh_key.tf
